﻿/*
    Green   - #2c8968
    Grey    - #8C8C8C
    purple  - #917ab9
*/


/***********************  
        General        
************************/
body {
    font-size: 14px;
    line-height: 1.4;
    color: #000;
    background-color: #FFF;
    font-family: "Century Gothic",Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Century Gothic",Arial,sans-serif;
}

.btn {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: none;
    font-size: 13px;
    text-transform: none;
    letter-spacing: 1px;
}

    .btn.btn-theme {
        background: #2c8968;
        color: #fff;
    }

        .btn.btn-theme:hover,
        .btn.btn-theme.dropdown-toggle:hover {
            background: #FFF;
            border: 1px solid #2c8968;
            color: #2c8968;
        }

        .btn.btn-theme.btn-outline {
            background: #FFF;
            border: 1px solid #2c8968;
            color: #2c8968;
        }

            .btn.btn-theme.btn-outline:hover {
                background: #2c8968;
                color: #FFF;
            }

        .btn.btn-theme.btn-icon-only {
            font-size: 20px;
            padding: 0px;
            height: 40px;
            width: 40px;
            line-height: 40px !important;
        }

    .btn.btn-redtheme {
        background: #c00001;
        color: #fff;
        position: relative;
        z-index: 1;
    }

        .btn.btn-redtheme:hover, .btn.btn-redtheme:hover {
            background: #FFF;
            border: 1px solid #c00001;
            color: #c00001;
        }

        .btn.btn-redtheme.btn-outline {
            background: #FFF;
            border: 1px solid #c00001;
            color: #c00001;
        }

            .btn.btn-redtheme.btn-outline:hover {
                background: #c00001;
                color: #FFF;
            }

        .btn.btn-redtheme.btn-icon-only {
            font-size: 20px;
            padding: 0px;
            height: 40px;
            width: 40px;
            line-height: 40px !important;
        }

.btn-custom-group {
    background: #E0F2F1;
    padding: 20px;
    margin-bottom: 20px;
}

    .btn-custom-group .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .btn-custom-group [class*="col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }

    .btn-custom-group .btn {
        -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
        padding: 12px 10px;
        font-size: 12px;
        text-align: left;
        margin-top: 5px;
        margin-bottom: 5px;
    }

        .btn-custom-group .btn > i {
            font-size: 10px;
            float: right;
            line-height: 17px;
            margin-right: -5px;
        }

.portlet > .portlet-title > .actions > .btn, .portlet > .portlet-title > .actions > .btn-group > .btn,
.portlet > .portlet-title > .actions > .btn-group > .btn.btn-sm, .portlet > .portlet-title > .actions > .btn.btn-sm {
    font-size: 12px;
}

.margin-0 {
    margin: 0px !important;
}

.hide {
    display: none !important;
}

.min-height-200 {
    min-height: 200px;
}

.custom-padded-row [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

    .custom-padded-row [class*="col-"]:first-child {
        padding-left: 0px;
    }


    .custom-padded-row [class*="col-"]:last-child {
        padding-right: 0px;
    }

.map-wrapper .controls {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    height: 29px;
    margin-left: 17px;
    margin-top: 10px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    position: absolute;
    z-index: 1;
    left: 110px;
}

    .map-wrapper .controls:focus {
        border-color: #4d90fe;
    }

.map-wrapper .loading-div {
    height: 100%;
    width: 100%;
    background-color: #e8e8e8;
    text-align: center;
}

    .map-wrapper .loading-div > i {
        font-size: 30px;
        margin-top: 100px;
    }

.map-wrapper #btnMapLocate {
    position: absolute;
    right: 25px;
    top: 10px;
}

body.layout {
    background-color: #F9F9F9;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-50 {
    margin-top: 50px;
}

.form-control {
    color: #000 !important;
}

.form-control, .btn:not(.md-skip) {
    box-shadow: none;
    border-radius: 0px;
}

    .form-control[type=file] {
        padding: 11px 12px;
    }

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.big-font {
    font-size: 130%;
}

.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

    .no-gutter > [class^="col-"] {
        padding-left: 0;
        padding-right: 0;
    }

.portlet.light > .portlet-title > .actions .btn {
    height: 29px;
    margin-top: -2px;
    font-weight: 100;
    box-shadow: none;
}

#divPieChart1 .amcharts-chart-div,
#divPieChart2 .amcharts-chart-div {
    position: relative !important;
    height: 250px !important;
}

.amcharts-main-div > .amcharts-chart-div > svg + a {
    display: none !important;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
}

.mt12 {
    margin-top: 12px;
}

.page-404 {
    text-align: center;
}

    .page-404 .number > i {
        font-size: 80px;
        margin-top: 20px;
    }

section {
    padding: 50px 0px;
}

    section.green-border {
        background-color: #2c8968;
    }

    section.white {
        background-color: #FFF;
    }

    section.mini {
        padding: 20px 0px;
    }

        section.mini p {
            margin: 0px;
        }

    section.dark {
        background: url(../../Images/Web/count.jpg);
    }

    section.alternate {
        background: #f9f9f9;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
    }

.section-title {
    text-align: center;
    margin-bottom: 18px;
    color: #2c8968;
}

    .section-title:after, .section-title:before {
        clear: both;
        display: table;
        content: " ";
    }

    .section-title > p.text-muted {
        margin-bottom: 10px;
        font-style: italic;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
    }

    .section-title > h2 {
        font-weight: 500;
        font-size: 22px;
        padding: 0;
        margin: 0;
    }


/**********************
        Header
***********************/
.top-bar {
    padding: 10px 0px;
}

    .top-bar ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        float: right;
    }

        .top-bar ul > li {
            padding: 15px 5px;
            margin: 0;
            float: left;
        }

            .top-bar ul > li > a {
                display: block;
                text-decoration: none;
                color: #2c8968;
                text-transform: uppercase;
                font-weight: bold;
            }

            .top-bar ul > li + li {
                padding-left: 10px;
            }

.navbar-default.headerWhite .top-bar ul > li > a {
    color: #2c8968;
}

.navbar-default.headerWhite .top-bar ul > li + li:before {
    background-color: #2c8968;
}

.navbar-default.headerWhite .navbar-toggle {
    color: #0b5185;
    border-color: #0b5185;
}

    .navbar-default.headerWhite .navbar-toggle:hover {
        background-color: #f7f7f7;
    }

.navbar-toggle {
    padding: 10px 12px;
    margin-right: 7px;
    border-radius: 0px;
    margin-top: 6px;
    color: #2c8968;
    border-color: #2c8968;
}

.navbar-default .navbar-toggle:hover {
    background-color: #7d7f89;
}

.navbar-brand {
    color: #2c8968;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}

.navbar-default {
    background-color: #2c8968;
    border: 0px 0 1px 0;
    border-color: #2c8968;
    border-radius: 0px;
    margin-bottom: 0px;
    transition: none;
    -webkit-transition: none;
}

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #2c8968;
        padding-right: 0px;
    }


.navbar > .container .navbar-brand {
    margin-left: 0px;
}

.navbar-default .navbar-brand {
    margin-top: 10px;
    float: none;
    padding: 0;
    height: 80px;
    line-height: normal;
    display: block;
}

    .navbar-default .navbar-brand > img {
        height: 70px;
    }

.navbar-nav {
    margin-left: -10px;
}

.dropdown-menu > li > .dropdown-menu-item {
    clear: both;
    color: #333;
    display: block;
    padding: 10px 20px;
    margin: 0px;
    white-space: nowrap;
    width: 100%;
    text-align: left;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
}

.dropdown-menu > li:hover .dropdown-menu-item,
.dropdown-menu > li:focus .dropdown-menu-item {
    background-color: #f5f5f5;
    color: #262625;
}

.dropdown-menu > li > .dropdown-menu-item.checkbox {
    font-weight: normal;
}

    .dropdown-menu > li > .dropdown-menu-item.checkbox input {
        display: none;
    }

.navbar-default .navbar-collapse .navbar-nav > li {
    padding: 15px 10px;
}

    .navbar-default .navbar-collapse .navbar-nav > li.switch-li {
        padding: 6px 5px;
    }

        .navbar-default .navbar-collapse .navbar-nav > li.switch-li > a {
            height: 35px;
            margin-top: 2px;
        }

    .navbar-default .navbar-collapse .navbar-nav > li.active,
    .navbar-default .navbar-collapse .navbar-nav > li:hover {
        background-color: #55AD8E;
    }

    .navbar-default .navbar-collapse .navbar-nav > li.no-hover.active,
    .navbar-default .navbar-collapse .navbar-nav > li.no-hover:hover {
        background-color: #2c8968;
    }

    .navbar-default .navbar-collapse .navbar-nav > li > a {
        padding: 0px;
        color: #FFF;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 2px;
    }

    .navbar-default .navbar-collapse .navbar-nav > li.active > a,
    .navbar-default .navbar-collapse .navbar-nav > li:hover > a {
        background-color: transparent;
        color: #FFF;
    }

    .navbar-default .navbar-collapse .navbar-nav > li.open > a {
        background-color: transparent;
    }

    .navbar-default .navbar-collapse .navbar-nav > li.search-li {
        margin: 7px;
        border: 1px solid #FFF;
        padding: 0;
    }

        .navbar-default .navbar-collapse .navbar-nav > li.search-li > a {
            line-height: 18px;
            color: #2c8968;
            padding: 8px;
            display: inline;
            background: #FFF;
            border: 0;
            margin-top: 0px;
            height: 34px;
            float: left;
        }

        .navbar-default .navbar-collapse .navbar-nav > li.search-li .dropdown-menu {
            width: 100%;
        }

        .navbar-default .navbar-collapse .navbar-nav > li.search-li > .form-control {
            display: inline;
            width: 78%;
            background: transparent;
            color: #FFF !important;
            border: 0;
        }

            .navbar-default .navbar-collapse .navbar-nav > li.search-li > .form-control::-moz-placeholder {
                color: #FFF;
                opacity: 1;
            }

            .navbar-default .navbar-collapse .navbar-nav > li.search-li > .form-control:-ms-input-placeholder {
                color: #FFF;
            }

            .navbar-default .navbar-collapse .navbar-nav > li.search-li > .form-control::-webkit-input-placeholder {
                color: #FFF;
            }

    .navbar-default .navbar-collapse .navbar-nav > li.p0 {
        padding: 15px 0px;
    }

.navbar-default.headerWhite {
    background-color: #FFF;
    transition: none;
    -webkit-transition: none;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    min-height: 85px;
}

    .navbar-default.headerWhite .navbar-collapse .navbar-nav {
        margin-top: 35px;
    }

    .navbar-default.headerWhite .navbar-header > .navbar-brand {
        height: 65px;
    }

        .navbar-default.headerWhite .navbar-header > .navbar-brand > img {
            height: 65px;
        }

    .navbar-default.headerWhite .navbar-collapse .navbar-nav > li > a {
        color: #2c8968;
    }

        .navbar-default.headerWhite .navbar-collapse .navbar-nav > li > a:hover,
        .navbar-default.headerWhite .navbar-collapse .navbar-nav > li > a.active {
            color: #26c281;
        }

        .navbar-default.headerWhite .navbar-collapse .navbar-nav > li > a:after {
            background: #26c281;
        }

.navbar-default .navbar-collapse.collapse.in .navbar-nav > li > a:after,
.navbar-default .navbar-collapse.collapsing .navbar-nav > li > a:after {
    width: 0px;
    display: none;
}

.navbar-default .navbar-collapse.collapse.in .navbar-nav,
.navbar-default .navbar-collapse.collapsing .navbar-nav {
    margin-top: 10px;
}

    .navbar-default .navbar-collapse.collapse.in .navbar-nav > li,
    .navbar-default .navbar-collapse.collapsing .navbar-nav > li {
        padding: 3px 12px;
        margin-bottom: 0px;
    }

.navbar-brand {
    padding: 0px;
    width: auto;
}

    .navbar-brand > img {
        float: left;
        height: 50px;
        margin-right: 15px;
    }

        .navbar-brand > img:last-child {
            height: 20px;
            margin: 15px 0;
        }

/*******************
        Home
********************/
section.banner,
section.page-banner {
    background-color: #f9f9f9;
    text-align: center;
    color: #154735;
    z-index: 1;
    position: relative;
}

section.banner {
    padding: 50px;
}

    section.banner h1.heading {
        text-transform: uppercase;
        margin-bottom: 30px;
        color: #c00001;
        font-size: 32px;
        font-weight: 700;
    }

    section.banner hr {
        width: 45%;
        margin: 10px auto 40px auto;
        border-top: 2px solid #2c8968;
    }

    section.banner p {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
    }

section.home-img {
    background-image: url(../../Images/rev-house.png);
    background-color: #000000;
    color: #FFF;
    height: 450px;
    padding: 100px 0px;
}

    section.home-img h1.heading {
        margin-top: 70px;
        color: #FFF;
    }

    section.home-img hr {
        border-top: 2px solid #ffffff;
    }

    section.home-img p {
        color: #FFF;
        width: 80%;
        margin: 0 auto
    }

section.banner .buttons {
    margin-top: 60px;
    padding-bottom: 30px;
}

section.page-banner {
    background-image: url(../../Images/rev-house.png);
    background-color: #000000;
}

    section.page-banner .search-form {
        border: 1px solid #ababab;
        background: rgba(249, 249, 249, 0.4);
        padding: 50px;
        width: 80%;
        margin: 40px auto;
    }

        section.page-banner .search-form > h1 {
            margin-top: 0px;
            color: #FFF;
            text-transform: uppercase;
            margin-bottom: 30px;
            font-weight: bold;
            letter-spacing: 0px;
            font-size: 30px;
            word-spacing: 5px;
        }

.search-panel {
    margin: 0px;
}

    .search-panel div[class*="col-"] {
        padding: 0px;
    }

    .search-panel .form-control {
        border: 1px solid #ababab;
        border-right: 0px;
        height: auto;
        padding: 10px 15px;
    }

    .search-panel .btn {
        height: auto;
        padding: 9px 15px;
        font-size: 15px !important;
        text-transform: uppercase !important;
    }

        .search-panel .btn:hover {
            background: #21694f;
            border: 1px solid #21694f;
            color: #FFF;
        }

.search-bar {
    padding: 20px;
    margin-bottom: 20px;
    background: #D4EAE3;
    border: 1px solid #80C7AE;
}

    .search-bar p {
        margin: 5px 0;
    }

    .search-bar .form-control,
    .search-bar .btn {
        height: 50px;
    }

.progress {
    height: 10px;
}

.progress-bar-success {
    background-color: #2c8968;
}

.pagination > li > a, .pagination > li > span {
    padding: 5px 12px;
}

.form-wizard {
    min-height: 400px;
}

    .form-wizard .steps, .form-wizard .steps > li > a.step {
        background-color: transparent;
        text-align: left;
    }

        .form-wizard .steps > li.active > a.step .number {
            background-color: #2c8968;
        }

        .form-wizard .steps > li.done > a.step .number {
            background-color: #B2DFDB;
        }

        .form-wizard .steps > li > a.step > .desc, .form-wizard .steps > li > a.step > .number {
            color: #2c8968;
        }

    .form-wizard .form-title h3 {
        float: left;
        margin: 0;
        color: #c00001;
        margin-bottom: 30px;
    }

    .form-wizard .btn-group {
        float: right;
    }

    .form-wizard .btn-lg {
        font-size: 14px;
        padding: 10px 20px;
        text-transform: uppercase;
        width: 150px;
        margin-bottom: 20px;
    }

    .form-wizard .btn i {
        font-size: 12px;
        line-height: 16px;
    }

    .form-wizard .btn.next {
        text-align: left;
    }

        .form-wizard .btn.next i {
            float: right;
            margin-right: -10px;
        }

    .form-wizard .btn.prev {
        text-align: right;
    }

        .form-wizard .btn.prev i {
            float: left;
            margin-left: -10px;
        }

    .form-wizard .search-form {
        padding: 30px;
        background: #E0F2F1;
        margin-bottom: 30px;
    }

        .form-wizard .search-form h4 {
            margin: 0;
            margin-bottom: 20px;
            text-align: center;
        }

        .form-wizard .search-form .search-panel .form-control {
            border: 1px solid #2c8968;
            border-right: 0px;
        }

.register-option {
    margin: 20px auto;
}

.option-box {
    border: 1px solid #f5f5f5;
    background: #FFF;
    text-align: center;
    padding: 50px 20px;
    min-height: 330px;
}

    .option-box > .option-icon {
        width: 60px;
        height: 60px;
        margin: 0 auto;
        background: #C00001;
        border-radius: 50% !important;
        line-height: 57px;
        margin-bottom: 20px;
        color: #FFF;
        font-size: 22px;
    }

    .option-box > h2 {
        margin: 0px;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: bold;
        color: #c00001;
    }

    .option-box > p {
        font-size: 13px;
    }

.banner .count {
    background-color: rgba(53, 135, 106, 0.8);
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    border-top: 1px solid rgba(255,255,255,.15);
    color: #fff;
    z-index: 99;
}

    .banner .count ul {
        padding: 0;
        margin: 0;
        text-align: center;
        list-style: none;
    }

        .banner .count ul li {
            display: inline-block;
            text-align: center;
            margin: 0 10px;
            padding-left: 20px;
            border-left: 1px dotted #FFF;
        }

            .banner .count ul li:first-child {
                margin-left: 0;
                padding-left: 0;
                background: 0 0;
                border-left: 0px;
            }

    .banner .count .number {
        width: auto;
        display: inline-block;
        margin-right: 5px;
        font-weight: 600;
        text-align: right;
        font-size: 24px;
    }

section.highlight.bordered {
    background: #f0fbf7;
    border-top: 1px solid #2c8968;
    border-bottom: 1px solid #2c8968;
    padding: 18px 0px 20px;
    text-align: center;
}

    section.highlight.bordered h2 {
        margin: 0px;
        padding: 0px;
        font-size: 18px;
        font-weight: bold;
        color: #2c8968;
    }

section .title {
    margin-bottom: 30px;
}

    section .title h1 {
        color: #c00001;
        font-weight: bold;
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 15px;
    }

    section .title hr {
        width: 40%;
        display: block;
        border-top: 1px solid #2c8968;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    section .title p {
        margin-top: 10px;
        margin-bottom: 0px;
    }

section.highlight.dark {
    padding: 10px 0px;
}

    section.highlight.dark > .count {
        margin: 0px;
        padding: 20px;
        border-top: 1px solid rgba(255,255,255,.15);
        border-bottom: 1px solid rgba(255,255,255,.15);
        background-color: rgba(0, 0, 0, 0.4);
    }

        section.highlight.dark > .count > h2 {
            font-size: 20px;
            color: #FFF;
            text-transform: uppercase;
            font-weight: 600;
            margin: 0px;
        }

.redheader {
    color: #c00001;
    font-weight: 700;
    font-size: 16px;
}

.control-label.required-star:after {
    color: #e02222;
    content: " *";
}

.info-row {
    padding: 12px 0;
    font-weight: bold;
}

    .info-row.font-17 {
        font-size: 17px;
    }

.form-wrap {
    padding: 20px;
    background: #f7f7f7;
}

.padding-right-0 {
    padding-right: 0px;
}

.padding-left-0 {
    padding-left: 0px;
}

.custom-tabs .portlet p.m10 {
    margin: 10px 0px;
}

.custom-tabs .border-right {
    border-right: 1px solid #f9f9f9;
}

.custom-tabs .nav-tabs {
    border: 0;
    background-color: #fff;
    box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);
    padding: 0;
}

.custom-tabs .portlet .nav-tabs {
    margin-bottom: 0px;
    box-shadow: none;
    margin: 0 -5px;
}

.custom-tabs .nav-tabs > li > a {
    margin: 0px;
    border: 0;
    color: #2c8968;
}

.custom-tabs .tab-content {
    margin-left: 0px;
    min-height: 200px;
}

.custom-tabs .nav-pills > li.active > a,
.custom-tabs .nav-pills > li.active > a:hover,
.custom-tabs .nav-pills > li.active > a:focus {
    color: #fff;
    border: 0;
    background-color: #2c8968;
}

.custom-tabs .portlet .nav-pills > li > a {
    padding: 5px 0;
}

.custom-tabs .portlet .nav-pills > li.active > a,
.custom-tabs .portlet .nav-pills > li.active > a:hover,
.custom-tabs .portlet .nav-pills > li.active > a:focus {
    background: #eaeaea;
    color: #2c8968;
}

.login-box h2 {
    font-size: 20px;
    color: #949494;
    font-weight: bold;
    margin-bottom: 20px;
}

.portlet.grey {
    background: #f7f7f7;
    border: 1px solid #E4E4E4;
    padding: 12px 20px 15px;
    margin-bottom: 30px;
}

.mh-130 {
    min-height: 130px;
}

.dvicon-box {
    text-align: justify;
}

    .dvicon-box .dvicon-block {
        float: left;
        background: #5DB797;
        color: #FFF;
        padding: 3px 7px;
        height: 74px;
        line-height: 110px;
        border-radius: 50% !important;
        margin-right: 10px;
    }

        .dvicon-box .dvicon-block > i {
            font-size: 60px;
        }

    .dvicon-box .dvicon-text {
        padding-left: 85px;
        display: block;
    }

        .dvicon-box .dvicon-text:hover,
        .dvicon-box .dvicon-text:active {
            text-decoration: none;
        }

        .dvicon-box .dvicon-text > .dvicon-text-header {
            font-size: 16px;
            font-weight: bold;
            color: #c00001;
        }

        .dvicon-box .dvicon-text > .dvicon-text-desc {
            color: #000;
            font-size: 13px;
            margin-top: 5px;
        }

        .dvicon-box .dvicon-text:hover > .dvicon-text-desc {
            color: #c00001;
        }

    .dvicon-box.dvicon-small {
        background: #FFF;
    }

        .dvicon-box.dvicon-small .dvicon-block {
            padding: 3px 6px;
            height: 52px;
            line-height: 70px;
            margin-right: 0px;
            margin-top: 5px;
        }

            .dvicon-box.dvicon-small .dvicon-block > i {
                font-size: 40px;
            }

        .dvicon-box.dvicon-small .dvicon-text {
            padding-left: 0px;
        }

        .dvicon-box.dvicon-small .btn {
            margin-top: 14px;
        }

.link-box {
    background: #FFF;
}

    .link-box h3 {
        font-size: 16px;
        padding: 10px 15px 12px;
        margin: 0px;
        color: #35876a;
        border-bottom: 1px solid #cdcdcd;
    }

        .link-box h3.green-font {
            color: #2c8968;
        }

    .link-box .link-box-data {
        padding: 10px 12px;
    }

.link-box-data .form-group:last-child {
    margin-bottom: 0px;
}

.link-box-data p {
    margin: 0px;
    margin-bottom: 5px;
}

.link-box-data .form-group {
    margin-bottom: 8px;
}

.link-box-data ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.link-box-data .btn > i {
    font-size: 16px;
    color: #FFF;
}

.link-box-data .btn:hover > i {
    color: #2c8968;
}

.link-box-data ul > li {
    padding: 4px 0px;
    text-align: left;
}

    .link-box-data ul > li a {
        color: #000;
    }

    .link-box-data ul > li.text-right {
        text-align: right;
    }

footer {
    padding: 30px 0px;
    background: #fff;
    border-top: 1px solid #2c8968;
}

    footer ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

        footer ul > li {
            padding: 2px 8px;
            float: left;
        }

            footer ul > li:last-child {
                padding-right: 0px;
            }

    footer .navbar-brand {
        padding: 0px;
        height: auto;
    }

        footer .navbar-brand > img {
            width: 60px;
            margin: 0px !important;
            height: auto;
        }

.portlet.light > .portlet-title > .nav-tabs > li.active {
    border-bottom: 4px solid #2c8968;
}

.portlet.light > .portlet-title > .nav-tabs > li:hover {
    border-bottom: 4px solid #26c281;
}

.portlet.light > .portlet-title > .nav-tabs > li > a {
    color: #333;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.portlet.light > .portlet-title > .nav-tabs > li.active > a {
    color: #2c8968;
}

.portlet.light.compressed-menu {
    padding: 0;
    margin-bottom: 15px;
    background-color: #fff;
}

    .portlet.light.compressed-menu > .portlet-title {
        min-height: 30px;
        margin-bottom: 0;
        padding: 12px 20px;
        background-color: #2c8968;
        color: #FFF;
    }

        .portlet.light.compressed-menu > .portlet-title .caption {
            font-size: 15px;
            padding: 0;
            margin: 0;
            color: #FFF;
        }

    .portlet.light.compressed-menu .portlet-body {
        padding-top: 0px;
    }

        .portlet.light.compressed-menu .portlet-body > .nav > li > a {
            padding: 10px;
            color: #000;
        }

            .portlet.light.compressed-menu .portlet-body > .nav > li > a:hover,
            .portlet.light.compressed-menu .portlet-body > .nav > li > a:active,
            .portlet.light.compressed-menu .portlet-body > .nav > li.active > a {
                background-color: #2c8968;
                color: #FFF;
            }

.custom-modal .modal-dialog {
    margin-top: 15%;
}

.custom-modal .modal-header {
    border-bottom: 0;
    text-align: center;
}

    .custom-modal .modal-header .modal-title {
        font-size: 20px;
        font-weight: bold;
    }

.custom-modal .modal-body {
    padding: 0px;
    padding-bottom: 1px;
}

    .custom-modal .modal-body > .table {
        margin: 0 30px 30px;
        width: 90%;
    }

.custom-modal .search-results > .result-row > .desc {
    margin-top: 0px;
    margin-bottom: 0px;
}

.custom-modal .search-results > .result-row .courseLink {
    font-size: 15px;
    color: #000;
    font-weight: 600;
    margin-bottom: 15px;
}

.custom-modal .search-results > .result-row > .desc .Description {
    margin-top: 0px;
}

.custom-modal .modal-header .close {
    margin-top: -30px !important;
    text-indent: 0;
    background: none !important;
}

.custom-modal .modal-footer {
    border-top: 1px solid #f3f3f3 !important;
}

.table.v-middle tr > td {
    vertical-align: middle;
}

.table.table-noborder * {
    border: 0px;
}

.table-scrollable {
    overflow-x: visible;
}

.portlet > .portlet-body p.padded {
    padding: 15px;
    margin-bottom: 0px;
}

.input-group-addon:first-child {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.table.border-top-0 {
    margin-bottom: 0px;
}

    .table.border-top-0 tr:first-child > td {
        border-top: 0px;
    }

    .table.border-top-0 tr > td {
        padding: 6px 0;
    }

        .table.border-top-0 tr > td:first-child {
            width: 130px;
        }

.table .thead-theme th {
    color: #fff;
    background-color: #2c8968;
    border-color: #2c8968;
}

.table .red-th > tr > th {
    color: #c00001;
}

.table thead > tr > th.action-th {
    min-width: 65px;
}

.input-icon.input-icon-lg > i {
    margin-top: 10px;
}

.form-control-static {
    padding-bottom: 0px;
    min-height: auto;
}

.view-form .form-group {
    margin-bottom: 10px;
}

.portlet > .portlet-footer {
    border-top: 1px solid #eee;
    padding: 12px 0 0 0;
}

.btn-group.open > .dropdown-menu {
    transition: none;
    right: 0;
    left: auto;
}

.font-red {
    color: #c00001 !important;
}

.small-font-info {
    font-size: 12px;
}

.portlet.light > .portlet-title > .actions {
    padding: 6px 0 6px 0;
}

.portlet.light > .portlet-title > .caption,
.portlet.light > .portlet-title .caption,
.portlet.light > .portlet-title > .caption > i {
    color: #c00001;
    font-weight: 700;
    font-size: 16px;
}

    .portlet.light > .portlet-title > .caption > i {
        margin-top: 0px;
        margin-right: 10px;
    }

.left-bar > .portlet {
    margin-bottom: 15px;
}

    .left-bar > .portlet > .portlet-body.link-box {
        box-shadow: none;
        text-align: left;
        height: auto;
        padding-bottom: 0px;
        font-size: 12px;
        border: 0px;
        margin-bottom: 0px;
    }

        .left-bar > .portlet > .portlet-body.link-box > h4 {
            margin-top: 0px;
            font-size: 14px;
            font-weight: bold;
            color: #c00001;
        }

        .left-bar > .portlet > .portlet-body.link-box > ul {
            margin: 0px;
            padding: 0px;
        }

        .left-bar > .portlet > .portlet-body.link-box .table {
            margin-bottom: 5px;
        }

            .left-bar > .portlet > .portlet-body.link-box .table > tbody > tr > td {
                padding: 4px 2px;
                font-size: 13px;
                border: 0px;
            }

.list-pane .list-item {
    padding: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    color: #000;
}

    .list-pane .list-item:hover {
        background-color: #f9f9f9;
    }

    .list-pane .list-item .list-left-col,
    .list-pane .list-item .list-right-col {
        padding: 0px;
    }

    .list-pane .list-item .list-left-col {
        padding-right: 10px;
    }

    .list-pane .list-item .list-right-col {
        padding-left: 10px;
        border-left: 1px solid #e8e8e8;
    }

    .list-pane .list-item h3 {
        font-size: 17px;
        font-weight: 600;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .list-pane .list-item .info-row {
        border-bottom: 1px solid #e8e8e8;
        padding-top: 0;
        padding-bottom: 10px;
        font-weight: normal;
    }

    .list-pane .list-item .desc-row {
        font-size: 14px;
        padding-bottom: 10px;
        text-align: justify;
    }

    .list-pane .list-item .user-row {
        border-top: 1px solid #e8e8e8;
        padding-top: 8px;
        margin-top: 5px;
    }

        .list-pane .list-item .user-row > .date {
            padding-right: 12px;
            border-right: 1px solid #d0d0d0;
        }

        .list-pane .list-item .user-row > .user {
            margin-left: 12px;
        }

.list-pane hr.margin-0, .margin-0 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.list-pane hr.margin-top-0 {
    margin-top: 0px;
}

.attachment-row:after, .attachment-row:before {
    clear: both;
    content: " ";
    display: table;
}

.list-pane .list-item .attachment-row,
.general-item-list .attachment-row {
    margin-bottom: 10px;
    margin-top: 3px;
}

    .list-pane .list-item .attachment-row > ul,
    .general-item-list .attachment-row > ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

        .list-pane .list-item .attachment-row > ul > li,
        .general-item-list .attachment-row > ul > li {
            padding: 5px;
            border: 1px solid #e8e8e8;
            float: left;
            height: 100px;
            width: 100px;
            overflow: hidden;
            word-break: break-all;
            text-align: center;
        }

            .list-pane .list-item .attachment-row > ul > li > a > i,
            .general-item-list .attachment-row > ul > li > a > i {
                text-align: center;
                font-size: 60px;
                line-height: 90px;
            }

.attachment-row > ul > li > a > img {
    height: 90px;
    width: 90px;
}

.idea-vote > .count {
    margin: 0px auto;
    text-align: center;
}

.vote-up-off, .vote-down-off, .vote-down-on, .vote-up-on {
    height: 18px;
    text-indent: -9999em;
    font-size: 1px;
    display: block;
    margin: 0 auto;
    width: 40px;
    margin-bottom: 2px;
    background-image: url(../../Images/votes-sprites.png);
    background-size: initial;
    background-repeat: no-repeat;
    overflow: hidden;
}

.vote-up-off {
    background-position: -41px 0px;
}

.vote-down-off {
    background-position: -41px -18px;
}

.vote-down-on {
    background-position: 0 -17px;
}

.vote-up-on {
    background-position: 0 0px;
}

.list-pane .list-item .list-right-col > h4 {
    font-size: 15px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: center;
    color: #c00001;
    padding-bottom: 0;
}

.list-right-col.idea-vote > .count {
    margin-top: 0px;
}

.list-right-col > .count {
    text-align: center;
    margin-top: 0;
}

    .list-right-col > .count div[class*=col-] {
        padding: 0px 5px;
    }

    .list-right-col > .count .counter-number {
        font-size: 18px;
        font-weight: bold;
    }

    .list-right-col > .count .counter-label,
    .count .counter-label {
        font-size: 11px;
        margin-bottom: 10px;
    }

.list-pane .list-item .list-right-col > .count .btn-icon-only {
    margin-top: 5px;
}

    .list-pane .list-item .list-right-col > .count .btn-icon-only.active,
    .btn.btn-theme.active {
        -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, .125) !important;
        box-shadow: inset 0 3px 8px rgba(0, 0, 0, .125) !important;
        background: #FFF;
        color: #2c8968;
        border: 1px solid #2c8968;
    }

.list-pane .list-item .list-right-col .mda-link {
    padding-top: 8px;
    text-align: center;
    border-top: 1px solid #e8e8e8;
}

.list-pane .list-item .list-right-col hr {
    margin: 6px 0px;
}

.list-pane .list-item .list-right-col .btn-block {
    height: auto;
    margin: 0px;
    padding: 8px 13px 7px 12px;
}

.list-right-col.idea-vote > .count .counter-number {
    font-size: 21px;
    margin-bottom: 0;
    margin-top: 0;
}

.list-right-col.idea-vote > .count .counter-label {
    font-size: 11px;
    margin-bottom: 0px;
}

.list-pane.dashboard .list-item-wrap {
    padding: 7px 15px;
}

    .list-pane.dashboard .list-item-wrap:nth-child(even) {
        padding-left: 0px;
    }

.list-pane.dashboard .list-item {
    min-height: 175px;
    margin-bottom: 0px;
}

    .list-pane.dashboard .list-item .list-left-col {
        padding-right: 0px;
        border-right: 0px;
    }

    .list-pane.dashboard .list-item .address-row {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .list-pane.dashboard .list-item h3 {
        margin-top: 0px;
    }

.comment-box {
    border-top: 1px solid #e8e8e8;
    margin-top: 8px;
}

    .comment-box > h4,
    .all-comments h4 {
        font-size: 15px;
        font-weight: bold;
    }

    .comment-box textarea {
        height: 100px;
    }

    .comment-box > p {
        margin-top: 10px !important;
        margin-bottom: 10px;
    }

.general-item-list > .item {
    padding: 10px 0;
    border-bottom: 1px solid #F1F4F7;
}

    .general-item-list > .item:first-child {
        padding-top: 0px;
    }

    .general-item-list > .item .item-left {
        width: 10%;
        float: left;
    }

        .general-item-list > .item .item-left > .item-initial {
            height: 35px;
            margin-top: 6px;
            width: 35px;
            background: #589b83;
            color: #FFF;
            text-align: center;
            line-height: 35px;
            font-weight: bold;
            font-size: 18px;
            margin-right: 10px;
        }

    .general-item-list > .item .item-right {
        width: 90%;
        float: left;
    }

        .general-item-list > .item .item-right > .item-head {
            margin-bottom: 5px;
        }

            .general-item-list > .item .item-right > .item-head > .item-details {
                display: inline-block;
                float: left;
            }

                .general-item-list > .item .item-right > .item-head > .item-details > .item-name {
                    display: inline-block;
                    margin-right: 0px;
                    vertical-align: middle;
                    color: #589b83;
                    font-weight: bold;
                    font-size: 15px;
                }

            .general-item-list > .item .item-right > .item-head > .item-status {
                top: 4px;
                position: relative;
                display: inline-block;
                float: left;
                font-size: 12px;
                color: #a2a2a2;
            }

            .general-item-list > .item:after, .general-item-list > .item:before,
            .general-item-list > .item .item-right:after, .general-item-list > .item .item-right:before,
            .general-item-list > .item .item-right > .item-head:after, .general-item-list > .item .item-right > .item-head:before {
                content: " ";
                display: table;
                clear: both;
            }

    .general-item-list > .item > .col-sm-9 {
        padding-right: 10px;
        border-right: 1px solid #e8e8e8;
    }

    .general-item-list > .item > .col-sm-3 {
        padding-left: 10px;
    }

        .general-item-list > .item > .col-sm-3 > .vote-count-respond {
            text-align: center;
            margin-top: 5px;
            font-size: 20px;
        }

        .general-item-list > .item > .col-sm-3 > .vote-label {
            text-align: center;
        }


.vottable-comment.item > .col-sm-9 {
    min-height: 90px;
}

.page-head > .container > .nav-tabs {
    background: none;
    margin: 1px 0 0 0;
    float: right;
    display: inline-block;
    border: 0;
}

    .page-head > .container > .nav-tabs > li {
        background: none;
        margin: 0;
        padding: 0px;
        border: 0;
        border-bottom: 4px solid transparent;
    }

        .page-head > .container > .nav-tabs > li:hover {
            border-bottom: 4px solid #e8e8e8;
        }

        .page-head > .container > .nav-tabs > li.active,
        .page-head > .container > .nav-tabs > li.active:hover {
            border-bottom: 4px solid #2c8968;
        }

        .page-head > .container > .nav-tabs > li > a {
            color: #333;
            font-size: 13px;
            font-weight: bold;
            margin: 0;
            padding: 15px 13px 10px 13px;
            border: 0;
            background: none !important;
            text-transform: uppercase;
        }

.state-error .help-inline {
    color: #c00001;
}

.input-validation-error {
    border-color: #c00001 !important;
}

.select2-container--default .select2-selection--single {
    height: 34px;
    border-radius: 0;
    border: 1px solid #c2cad8;
    width: 100%;
}

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 34px;
    }

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 57%;
}

.module-search {
    padding: 0;
    background-color: #FFF;
    border: 1px solid #2c8968;
    border-radius: 0px;
    box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);
    margin-bottom: 25px;
}

    .module-search .form {
        margin-bottom: 0px;
    }

    .module-search .search-input-wrap {
        background-color: #FFF;
    }

        .module-search .search-input-wrap > .btn {
            position: relative;
            z-index: 1;
            overflow: visible;
            display: inline-block;
            float: right !important;
            box-shadow: none;
            cursor: pointer;
            padding: 12px 20px;
            -webkit-appearance: button;
        }

        .module-search .search-input-wrap > .input-box {
            overflow: hidden;
            display: block;
            margin-right: 90px;
        }

            .module-search .search-input-wrap > .input-box > input {
                width: 100%;
                border: 0px;
                height: auto;
                border: none;
                outline: none;
                padding: 12px 20px;
            }

            .module-search .search-input-wrap > .input-box.two-boxes > input {
                width: 50%;
                float: left;
            }

                .module-search .search-input-wrap > .input-box.two-boxes > input:last-child {
                    border-left: 1px solid #2c8968;
                    padding-left: 15px
                }

    .module-search .advance-search {
        border-top: 1px dashed #2c8968;
        margin: 3px -5px -5px;
    }

        .module-search .advance-search > .advance-search-container {
            padding: 5px 15px;
            background-color: #f9f9f9;
        }

            .module-search .advance-search > .advance-search-container > .form-group {
                border-bottom: 1px #e8e8e8 solid;
                margin: 0px;
                padding: 10px 0px;
            }

                .module-search .advance-search > .advance-search-container > .form-group:last-child {
                    border: 0px;
                }

                .module-search .advance-search > .advance-search-container > .form-group .control-label {
                    text-align: left;
                }

                .module-search .advance-search > .advance-search-container > .form-group .elements {
                    float: left;
                    margin-right: 15px;
                }

                    .module-search .advance-search > .advance-search-container > .form-group .elements .icheckbox_square-green {
                        margin-top: 5px;
                    }

        .module-search .advance-search .bootstrap-select > .btn {
            box-shadow: none;
        }

.padding-top-0 {
    padding-top: 0px !important;
}

#divLineChart1 {
    width: 100%;
    height: 300px;
}

.portlet-title .actions .form-control {
    width: auto;
    display: inline;
    height: auto;
    padding: 5px 10px;
    line-height: 1.5;
    font-size: 12px;
    letter-spacing: 1px;
}

    .portlet-title .actions .form-control.bootstrap-select {
        padding: 0;
    }

        .portlet-title .actions .form-control.bootstrap-select > .btn {
            padding: 0;
            width: auto;
            margin-top: 0px;
            margin-right: 4px;
        }

            .portlet-title .actions .form-control.bootstrap-select > .btn > .bs-caret {
                margin-left: 20px;
            }

.navbar-default.headerWhite .navbar-toggle {
    color: #2c8968;
    border-color: #2c8968;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 0px;
}

    .switch input {
        display: none;
    }

    .switch .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #c5c5c5;
        -webkit-transition: .4s;
        transition: .4s;
        min-height: 34px;
        margin: 0px;
    }

        .switch .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: #2c8968;
            -webkit-transition: .4s;
            transition: .4s;
        }

input:checked + .slider {
    background-color: #FFF;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.switch .slider.round {
    border-radius: 34px !important;
}

    .switch .slider.round:before {
        border-radius: 50% !important;
    }

.radio-tile-group {
}

    .radio-tile-group .input-container {
        height: 150px;
        width: 150px;
        margin: 50px auto;
    }

        .radio-tile-group .input-container .radio-button {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            cursor: pointer;
        }

        .radio-tile-group .input-container .radio-tile {
            width: 100%;
            height: 100%;
            border: 2px solid #2c8968;
            padding: 10px;
            text-align: center;
            transition: -webkit-transform 300ms ease;
            transition: transform 300ms ease;
            transition: transform 300ms ease, -webkit-transform 300ms ease;
        }

            .radio-tile-group .input-container .radio-tile > .radio-icon {
                display: block;
                color: #2c8968;
                font-size: 50px;
                margin-top: 10px;
                margin-bottom: 5px;
            }

        .radio-tile-group .input-container .radio-tile-label {
            text-align: center;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 16px;
            color: #2c8968;
        }

        .radio-tile-group .input-container .radio-button:checked + .radio-tile {
            background-color: #2c8968;
            border: 2px solid #2c8968;
            color: #FFF;
            -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
        }

            .radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label,
            .radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-icon {
                color: #FFF;
                background-color: #2c8968;
            }

@media (max-width: 767px) {
    .navbar-default .navbar-brand {
        float: left;
    }

    .navbar-default .navbar-collapse .navbar-nav > li.open > .dropdown-menu {
        position: static;
        margin-top: 0px;
        border: 0px !important;
        box-shadow: none !important;
        border-radius: 0px;
        float: none;
        width: 100%;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #2c8968;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 3px;
    }

    .search-panel div[class*="col-"] .btn {
        margin-top: 5px;
    }

    .pull-right, .pull-left {
        float: none !important;
    }

    .list-pane .list-item {
        padding-bottom: 0px;
    }

        .list-pane .list-item .user-row > .user,
        .list-pane .list-item .user-row > .date {
            margin-top: 8px;
            float: left;
            display: inline-block;
            border: 0px;
            margin-left: 0px;
            width: 49%;
        }

    .general-item-list > .item > .item-left > .item-initial {
        display: none;
    }

    .list-pane .list-item .list-left-col,
    .list-pane .list-item .list-right-col {
        border: 0px;
        padding: 0px;
    }

    .list-pane .list-item .list-right-col {
        background: #e8e8e8;
        margin: 15px -10px 0px;
        padding-top: 1px;
    }

        .list-pane .list-item .list-right-col > h4 {
            margin-top: 7px;
            font-size: 14px;
            padding-bottom: 0px;
        }

        .list-pane .list-item .list-right-col > .count > .col-sm-7,
        .list-pane .list-item .list-right-col > .count > .col-sm-5 {
            padding: 0px !important;
            width: 50%;
            float: left;
        }

        .list-pane .list-item .list-right-col > .count > .col-sm-12 > .counter-number {
            display: inline-block;
            width: 44%;
            float: left;
            text-align: right;
            padding-right: 5px;
            height: 30px;
            line-height: 30px;
        }

        .list-pane .list-item .list-right-col > .count > .col-sm-12 > .counter-label {
            display: inline-block;
            width: 56%;
            float: left;
            text-align: left;
            padding-left: 5px;
            height: 30px;
            line-height: 45px;
            font-size: 13px;
        }

        .list-pane .list-item .list-right-col .mda-link {
            background: #d4d4d4;
            padding-top: 8px;
            padding-bottom: 8px;
        }

            .list-pane .list-item .list-right-col .mda-link a {
                color: #000;
            }

                .list-pane .list-item .list-right-col .mda-link a:hover {
                    color: #393939;
                }

        .list-pane .list-item .list-right-col > .count {
            margin-top: 0px;
        }

    .list-pane.dashboard > .list-item {
        padding-bottom: 10px;
    }

    .list-pane.dashboard .list-item .user-row {
        padding-top: 0px;
    }

    .navbar > .container .navbar-brand {
        margin-left: 15px;
    }

    section.highlight.bordered {
        padding-left: 15px;
        padding-right: 15px;
    }

        section.highlight.bordered h2 {
            font-size: 15px;
        }

    .link-box > .link-box-data > ul > li > a.btn {
        float: right !important;
    }

    .module-search .advance-search > .advance-search-container > .form-group .control-label {
        padding-left: 0px;
    }

    .module-search .advance-search > .advance-search-container > .form-group .elements.col-sm-5 {
        width: 40%;
    }

    .module-search .advance-search > .advance-search-container > .form-group .elements.col-sm-10 {
        width: 85%;
    }

    .item-navigation:before, .item-navigation:after {
        clear: both;
        content: "";
        display: table;
    }

    .item-navigation > .col-sm-4.text-left {
        width: 25%;
        float: left;
    }

    .item-navigation > .col-sm-4.text-right {
        width: 25%;
        float: right;
    }

    .item-navigation > .col-sm-4.text-center {
        width: 50%;
        float: left;
    }

    .item-navigation > .col-sm-4 > .btn > span {
        display: none;
    }
}

@media (min-width: 767px) {
    .navbar-default .navbar-brand {
        float: left;
    }
}

@media (max-width: 992px) {
    .link-box {
        height: auto;
    }

    .page-head {
        background-color: #FFF;
    }
}

@media (max-width: 420px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar-header {
        float: left;
    }

    section.banner h2.heading {
        font-size: 25px;
        margin-top: 25px;
    }

    section.banner p {
        letter-spacing: normal;
        font-size: 14px;
    }

    section.banner .search-form {
        width: 90%;
    }

    section {
        padding: 20px 0px;
    }

    .section-title > h2 {
        font-size: 18px;
    }

    .portlet {
        margin-bottom: 15px;
    }
}

.padding-left-10 {
    padding-left: 10px;
}

.contact-item {
    display: block;
}

    .contact-item > .contact-item-left {
        width: 50px;
        height: 50px;
        overflow: hidden;
        text-align: center;
        float: left;
        color: #2991d6;
    }

        .contact-item > .contact-item-left > i {
            font-size: 35px;
            line-height: 50px;
        }

    .contact-item > .contact-item-right {
        padding: 0;
        margin-left: 60px;
        word-wrap: break-word;
    }

        .contact-item > .contact-item-right > .title {
            display: block;
            padding-top: 5px;
            margin: 0px;
        }

        .contact-item > .contact-item-right h4 {
            margin-bottom: 7px;
            margin-top: 0px;
        }

.dataTables_wrapper .dataTables_processing {
    width: 97%;
    position: absolute;
    left: 13%;
    background: rgba(238, 241, 245, 0.6);
    height: 90%;
    top: 6%;
    z-index: 50000;
}

    .dataTables_wrapper .dataTables_processing > .overlay {
        top: 50%;
        position: relative;
    }

        .dataTables_wrapper .dataTables_processing > .overlay i {
            font-size: 100px;
        }

.table-scrollable .dataTable td > .btn-group, .table-scrollable .dataTable th > .btn-group {
    margin-top: -10px;
}

table.dataTable.dtr-column > tbody > tr > td.control:before, table.dataTable.dtr-column > tbody > tr > th.control:before, table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    background-color: #c5c5c5;
}

table.dataTable.dtr-column > tbody > tr.parent td.control:before, table.dataTable.dtr-column > tbody > tr.parent th.control:before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
    background-color: #2c8968;
}

.btn-group > .dropdown-menu:before, .dropdown-toggle > .dropdown-menu:before, .dropdown > .dropdown-menu:before,
.btn-group > .dropdown-menu:after, .dropdown-toggle > .dropdown-menu:after, .dropdown > .dropdown-menu:after {
    display: none !important;
}

.md-shadow-z-2-i, .dropdown-menu, .btn-group > .dropdown-menu {
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.22) !important;
}

.btn-group > .dropdown-menu {
    opacity: 0;
    filter: alpha(opacity=0);
    margin-top: 0;
}

.btn-group.open > .dropdown-menu {
    transition: opacity 1500ms cubic-bezier(.23,1,.32,1) .1ms;
    opacity: 1;
    filter: alpha(opacity=100);
}

.dataTables_filter, .dataTables_paginate {
    text-align: right;
}

.pagination {
    margin: 0px;
}

@media (max-width: 1024px) {
    .link-box h3 {
        font-size: 16px;
    }

    .search-panel .btn {
        padding: 9px 7px;
    }
}

@media (max-width: 870px) {
    .link-box h3 {
        font-size: 15px;
    }

    .link-box.height250 {
        height: 270px;
    }
}

@media (max-width: 767px) {
    .navbar {
        min-height: 2px;
    }

    .container > .navbar-header {
        float: left;
        margin-left: 15px;
    }

    .top-bar ul {
        margin-right: 30px;
    }

    .link-box.height250 {
        height: auto;
    }
}

@media (max-width: 500px) {
    .navbar-brand > img {
        height: 30px;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 10px;
    }

        .navbar-brand > img:last-child {
            height: 18px;
        }

    footer .navbar-brand {
        display: block;
        float: none;
        margin-bottom: 10px;
    }

        footer .navbar-brand > img {
            float: none;
            margin: 10px auto !important;
        }

    section.banner {
        padding: 50px 10px;
    }

    section.home-img p {
        width: auto;
    }

    section.banner h1.heading {
        font-size: 20px;
    }

    section.banner p {
        font-size: 15px;
    }

    section.page-banner .search-form {
        padding: 20px;
        width: 90%;
        margin: 10px auto;
    }

        section.page-banner .search-form > h1 {
            margin-bottom: 10px;
            font-size: 20px;
        }
}

@media (max-width: 425px) {
    .container > .navbar-header {
        margin-left: 0px;
    }

    .top-bar ul {
        margin-right: 0px;
    }

    .navbar-brand > img {
        margin-left: 0px;
    }

    .navbar-toggle {
        padding: 5px 10px;
        margin-top: 8px;
    }

    .navbar-default .navbar-collapse.collapse.in .navbar-nav > li.search-li,
    .navbar-default .navbar-collapse.collapsing .navbar-nav > li.search-li {
        width: 90%;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-default .navbar-collapse .navbar-nav > li.open > .dropdown-menu {
        width: 94%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .navbar-default .navbar-collapse .navbar-nav > li.search-li.open > .dropdown-menu {
        width: 104%;
        border-radius: 0px !important;
    }
}

@media (max-width: 320px) {
    .navbar-brand > img {
        margin-right: 5px;
        height: 25px;
    }

        .navbar-brand > img:last-child {
            height: 15px;
        }

    .navbar-toggle {
        margin-right: 0px;
    }

    .top-bar ul > li + li {
        padding-left: 5px;
    }
}

/*grid view code*/ 
.table table  tbody  tr  td a ,
.table table  tbody  tr  td  span {
position: relative;
float: left;
padding: 6px 12px;
margin-left: -1px;
line-height: 1.42857143;
color: #337ab7;
text-decoration: none;
background-color: #fff;
border: 1px solid #ddd;
}

.table table > tbody > tr > td > span {
z-index: 3;
color: #fff;
cursor: default;
background-color: #337ab7;
border-color: #337ab7;
}

.table table > tbody > tr > td:first-child > a,
.table table > tbody > tr > td:first-child > span {
margin-left: 0;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}

.table table > tbody > tr > td:last-child > a,
.table table > tbody > tr > td:last-child > span {
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}

.table table > tbody > tr > td > a:hover,
.table   table > tbody > tr > td > span:hover,
.table table > tbody > tr > td > a:focus,
.table table > tbody > tr > td > span:focus {
z-index: 2;
color: #23527c;
background-color: #eee;
border-color: #ddd;
}

.GridHeader {
    color: #c00001;
}

/* grid view ends here*/

table.borderless td, table.borderless th
{
    border: none !important;
}
.pagination-ys {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination-ys table > tbody > tr > td {
    display: inline;
}

.pagination-ys table > tbody > tr > td > a,
.pagination-ys table > tbody > tr > td > span {
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #dd4814;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}

.pagination-ys table > tbody > tr > td > span {
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;    
    margin-left: -1px;
    z-index: 2;
    color: #F9F9F9;
    background-color: #2C8968;
    border-color: #2C8968;
    cursor: default;
}

.pagination-ys table > tbody > tr > td:first-child > a,
.pagination-ys table > tbody > tr > td:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination-ys table > tbody > tr > td:last-child > a,
.pagination-ys table > tbody > tr > td:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pagination-ys table > tbody > tr > td > a:hover,
.pagination-ys table > tbody > tr > td > span:hover,
.pagination-ys table > tbody > tr > td > a:focus,
.pagination-ys table > tbody > tr > td > span:focus {
    color: white;
    background-color: #2C8968;
    border-color: #2C8968;
}
