﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="blank.aspx.cs" Inherits="blank" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="col-sm-9">
                <div class="title">
                    <h1>
                        HEADING - BLANK
                    </h1>
                    <hr>
                </div>
        <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                TITLE
                            </div>
                          
                           
                        </div>
                        <div class="portlet-body">
                           THIS IS A BLANK TEST PAGE
                        </div>
                    </div>
   </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="modelpops" Runat="Server">
</asp:Content>

